__pycache__/
*.pyc
*.pyo
*.log
Backups/
Resources/Security/*.key
Resources/Security/*.der
Resources/Packages/Updater/
Resources/Packages/GPMI/Tools/kernel_source/build*/
Resources/Packages/GPMI/Tools/unit_hook_source/build*/
Resources/Packages/GPMI/Tools/third_party/reshade/*
!Resources/Packages/GPMI/Tools/third_party/reshade/LICENSE.md
!Resources/Packages/GPMI/Tools/third_party/reshade/include/
!Resources/Packages/GPMI/Tools/third_party/reshade/include/**
XXMI Launcher Log.txt
XXMI Launcher Log.txt.bak
XXMI Launcher Config.json
GPMI Log.txt
GPMI Log.txt.bak
GPMI Config.json
