__pycache__/
*.pyc
*.pyo
*.log
Backups/
Resources/Security/*.key
Resources/Security/*.der
Resources/Packages/Updater/
Resources/Packages/GPMI/Tools/unit_hook_source/build*/
Resources/Packages/GPMI/Tools/texture_loader_source/build*
build/
dist/
*.spec
XXMI Launcher Log.txt
XXMI Launcher Log.txt.bak
XXMI Launcher Config.json
GPMI Log.txt
GPMI Log.txt.bak
GPMI Config.json
package-gpmi-exe.ps1
